# Working with SQLite and Pandas Homework

### 1. Set Up the Database

In [310]:
#Import libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connection to the SQLite database
conn = sqlite3.connect('student_grades.db')

# Create cursor object to interact with the database
c = conn.cursor()

### 2. Create the Necessary Tables

In [313]:
# Create "students" table to store student information
c.execute( 
    """CREATE TABLE students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT, 
    first_name TEXT, 
    last_name TEXT
    );"""
)
conn.commit()

OperationalError: table students already exists

In [315]:
# Create "grades" table to store student grades for different subjects
c.execute(
    """CREATE TABLE grades (
    grade_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    subject TEXT, 
    grade INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id)
    );"""
)
conn.commit()

OperationalError: table grades already exists

### 3. Insert Data into the Tables

In [318]:
# Inserting the data into the "students" table
students_data = [('Alice', 'Johnson'), ('Bob', 'Smith'), ('Carol', 'White'), ('David', 'Brown'), ('Eve', 'Davis')]
c.executemany('INSERT INTO students (first_name, last_name) VALUES (?, ?)', students_data)
conn.commit()
# Showing the students table to check if the data was added
print("Students Table:")
print(students_df.to_string(index=False))

Students Table:
 student_id first_name last_name
          1      Alice   Johnson
          2        Bob     Smith
          3      Carol     White
          4      David     Brown
          5        Eve     Davis
          6      Alice   Johnson
          7        Bob     Smith
          8      Carol     White
          9      David     Brown
         10        Eve     Davis

In [320]:
# Inserting the data into the "grades" table
grades_data = [(1, 'Math', 95), (1, 'English', 88), (1, 'History', 90), (2, 'Math', 82), (2, 'English', 76), (2, 'History', 85), (3, 'Math', 91), (3, 'English', 92), (3, 'History', 89), (4, 'Math', 70), (4, 'English', 75), (4, 'History', 80), (5, 'Math', 100), (5, 'English', 95), (5, 'History', 99)]
c.executemany('INSERT INTO grades (student_id, subject, grade) VALUES (?, ?, ?)', grades_data)
conn.commit()
# Showing the grades table to check if the data was added
print("\nGrades Table:")
print(grades_df.to_string(index=False))

Grades Table:
 grade_id  student_id subject  grade
        1           1    Math     95
        2           1 English     88
        3           1 History     90
        4           2    Math     82
        5           2 English     76
        6           2 History     85
        7           3    Math     91
        8           3 English     92
        9           3 History     89
       10           4    Math     70
       11           4 English     75
       12           4 History     80
       13           5    Math    100
       14           5 English     95
       15           5 History     99

### 4. Perform SQL Queries

In [323]:
%load_ext sql
%sql sqlite:///student_grades.db

ModuleNotFoundError: No module named 'sql'

In [298]:
# Retrieve all students' names and their grades
%%sql
SELECT s.first_name, s.last_name, g.subject, g.grade
FROM students s
JOIN grades g ON s.student_id = g.student_id

SyntaxError: invalid syntax (3932000397.py, line 3)

In [300]:
# Find the average grade for each student
%%sql
SELECT s.first_name, s.last_name, AVG(g.grade) AS average_grade
FROM students s
JOIN grades g ON s.student_id = g.student_id
GROUP BY s.student_id

SyntaxError: invalid syntax (2416412899.py, line 3)

In [302]:
# Find the student with the highest average grade
%%sql
SELECT s.first_name, s.last_name, AVG(g.grade) AS average_grade
FROM students s
JOIN grades g ON s.student_id = g.student_id
GROUP BY s.student_id
ORDER BY average_grade DESC
LIMIT 1

SyntaxError: invalid syntax (1991551071.py, line 3)

In [304]:
# Find the average grade for the Math subject
%%sql
SELECT AVG(grade) AS avg_math_grade
FROM grades
WHERE subject = 'Math'

SyntaxError: invalid syntax (3088087886.py, line 3)

In [306]:
# List all students who scored above 90 in any subject
%%sql
SELECT DISTINCT s.first_name, s.last_name
FROM students s
JOIN grades g ON s.student_id = g.student_id
WHERE g.grade > 90

SyntaxError: invalid syntax (1896107580.py, line 3)

### 5. Load Data into Pandas

In [308]:
# Average Grades for Each Student
%%sql
SELECT s.first_name || ' ' || s.last_name AS student_name, AVG(g.grade) AS average_grade
FROM students s
JOIN grades g ON s.student_id = g.student_id
GROUP BY s.student_id

student_avg_df = %sql SELECT s.first_name || ' ' || s.last_name AS student_name, AVG(g.grade) AS average_grade FROM students s JOIN grades g ON s.student_id = g.student_id GROUP BY s.student_id
student_avg_df = student_avg_df.DataFrame()

# Average Grades for Each Subject
%%sql
SELECT g.subject, AVG(g.grade) AS average_grade
FROM grades g
GROUP BY g.subject

subject_avg_df = %sql SELECT g.subject, AVG(g.grade) AS average_grade FROM grades g GROUP BY g.subject
subject_avg_df = subject_avg_df.DataFrame()


import matplotlib.pyplot as plt

# Plot Average Grades for Each Student
plt.figure(figsize=(10, 6))
plt.bar(student_avg_df['student_name'], student_avg_df['average_grade'], color='skyblue')
plt.title('Average Grades for Each Student')
plt.xlabel('Student Name')
plt.ylabel('Average Grade')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Plot Average Grades for Each Subject
plt.figure(figsize=(10, 6))
plt.bar(subject_avg_df['subject'], subject_avg_df['average_grade'], color='salmon')
plt.title('Average Grades for Each Subject')
plt.xlabel('Subject')
plt.ylabel('Average Grade')
plt.tight_layout()
plt.show()

SyntaxError: invalid syntax (2119867367.py, line 3)